{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<title>Perfil</title>

    {% csrf_token %}

<CENTER><h4><i class="fa fa-cogs"></i>Ajustes</h4></CENTER>

<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="fa fa-lock"></i>Cambiar contraseña</div>
      <div class="collapsible-body"><p>




                            <form class="col s12" action="{% url 'pikquick:cambiar_pass' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                        <input placeholder="Contraseña antigua" name="password1" id="id_password1" type="password"  value="">


                                        <input placeholder="Contraseña nueva" name="password2" id="id_password2" type="password" value="">

                                    <button class="card-panel red lighten-1 waves-effect waves-orange btn-large" id="crear" type="submit">
                                        Cambiar contraseña
                                    </button>
                            </form>

                    </div>


          </p></div>

    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-picture-o"></i>Cambiar imagen de perfil</div>
      <div class="collapsible-body"><p>Funcion todavia no disponible en esta version.</p></div>
    </li>
  </ul>

{% block scripts %}
<script>


    $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });

</script>
{% endblock %}
{% endblock %}
