<div class="col s12 m6">
    <div class="card">
        <div class="card-image">
            <img class='activator' src='{{ MEDIA_URL }}{{img.img}}' style='width:400px; height:450px; margin-top:4%;'>
        </div>
        <div class="card-content">
            <p>{{img.desc}}</p>
        </div>
        <div class="card-action">
            <a href="javascript:clickLink({{post.id}},1);"><i class="fa fa-heart fa-3x"></i></a>
            <p>Likes <span id="clicks-1{{post.id}}">0</span></p>
        </div>
    </div>
</div>
