{% load staticfiles %}
<div class="col s12 m6">
    <div class="card">
        <div class="card-image">
            <img class='activator' src='{{ MEDIA_URL }}{{img.img}}' style='width:400px; height:450px; margin-top:4%;'>
        </div>
        <div class="card-content">
            <p>{{img.desc}}</p>
        </div>
        <div class="card-action">


{% if forloop.counter|divisibleby:2 %}
            <i  class="fa fa-heart-o" style="margin-right:1%" ></i>

            <a id="{{post.id}}_2" imagenid="{{img.id}}"><i style="margin-right:1%" ></i>{{img.getLikes}} Me gusta</a>

{% else %}
<i  class="fa fa-heart-o" style="margin-right:1%" ></i>
            <a id="{{post.id}}_1" imagenid="{{img.id}}"><i style="margin-right:1%" ></i>{{img.getLikes}} Me gusta</a>

            {% endif %}


        </div>
    </div>
</div>

