{% extends 'base.html' %}

{% block post %}
<div class='section white center'>
    Publicaciones:
{% for post in posts %}
    {% if not post.usuario == user.username %}
    <div class="col s1 cyan-text" style="text-align: left">
        {{post.usuario}} Subio una publicacion
    </div>
    <div class="col s1 cyan-text" style="text-align: rigth">
        Hace  {{post.fecha|timesince}}
    </div>
    {% endif %}
    <br>
{% endfor %}
<hr>
    Comentarios:
{% for comentario in coments %}
    {% if not comentario.usuario == user.username %}
    <div class="col s1 cyan-text" style="text-align: left">
        {{comentario.usuario}} Comento
    </div>
    <div class="col s1 cyan-text" style="text-align: rigth">
        {{comentario.coment_txt}} : {{comentario.fecha_pub|timesince}}
    </div>
    {% endif %}
    <br>
{% endfor %}
</div>
{% endblock %}
