{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<title>Subir imagenes</title>
</br>
</br>

<div class="container">
    <form action="{% url 'pikquick:crear_public' %}" method="POST" enctype="multipart/form-data" id="cargar">
        {% csrf_token %}
        <div class="card-panel blue-grey row">
            <div class="input-field col s12">
                <input placeholder="Pregunta de la publicacion" maxlength="100" name="descPub" type="text" value="">
            </div>

            <div class="col s6">
                <div class='input-field file-field col s6 m6'>
                    <img id='blah1'src="{% static 'images/up.png' %}" alt='your image' style='width:270px; height:320px;margin-left:3%;'/>
                    <form action='#'>
                        <div class='file-field input-field'>
                            <div class='btn'>
                                <span>File</span>
                                <input type='file' multiple multiple accept='image/*'>
                            </div>
                            <div class='file-path-wrapper'>
                                <input class='file-path validate' type='text' placeholder='Upload image' multiple accept='image/*'>
                            </div>
                        </div>
                    </form>
                    <input type='file' id='imgInp1' name='img1' multiple accept='image/*'/>
                </div>
                <div class='input-field col s5'>
                    <input placeholder='Comentario de la Imagen' maxlength='100' name='desc1' type='text' value=''>
                </div>
            </div>

            <div class="col s6">
                <div class='input-field file-field col s6 m6'>
                    <img id='blah2'src="{% static 'images/up.png' %}" alt='your image' style='width:270px; height:320px;margin-left:3%;'/>
                    <form action='#'>
                        <div class='file-field input-field'>
                            <div class='btn'>
                                <span>File</span>
                                <input type='file' multiple multiple accept='image/*'>
                            </div>
                            <div class='file-path-wrapper'>
                                <input class='file-path validate' type='text' placeholder='Upload image' multiple accept='image/*'>
                            </div>
                        </div>
                    </form>
                    <input type='file' id='imgInp2' name='img2' multiple accept='image/*'/>
                </div>
                <div class='input-field col s6'>
                    <input placeholder='Comentario de la Imagen' maxlength='100' name='desc2' type='text' value=''>
                </div>
            </div>

        </div>
        <a href="#" class="card-panel teal lighten-1 waves-effect waves-orange btn col s2 offset-s10" id="crear">Subir Publicacion</a>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>

    $('#crear').click(function() {
        if($('input:file[name=img1]').val()=="" || $('input:file[name=img2]').val()==""){
            Materialize.toast('Debe cargar las imagenes', 2500)
        }else{
            $("#cargar").submit();
        }
    });

    /*Esto es la previsualisacion de imagenes*/
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah1').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#imgInp1').change(function(){
        readURL(this);
    });

    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah2').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#imgInp2').change(function(){
        readURL1(this);
    });

    var n = 3;
    $('#addImg').click(function() {
        console.log(n);
        var div = document.createElement('div');
        div.className = 'col s6';
        div.innerHTML = "<div class='input-field file-field col s2 m6'><img id='blah"+n+"'src='{% static 'images/up.png' %}' alt='your image' style='width:270px; height:320px;margin-left:3%;'/><form action='#'><div class='file-field input-field'><div class='btn'><span>File</span><input type='file' multiple multiple accept='image/*'></div><div class='file-path-wrapper'><input class='file-path validate' type='text' placeholder='Upload image' multiple accept='image/*'></div></div></form><input type='file' id='imgInp"+n+"' name='img"+n+"' multiple accept='image/*'/></div><div class='input-field col s6'><input placeholder='Comentario de la Imagen' maxlength='100' name='desc"+n+"' type='text' value=''><a href='#' class='card-panel red darken-3 waves-effect waves-orange btn col s4 offset-s2' id='remImg'>Eliminar</a></div>";
        document.getElementById('aca').appendChild(div);
        n=n+1;
    })

    $('#remImg').click(function() {
        console.log("borranding");
        document.getElementById('aca').removeChild(input.parentNode);
    })

</script>
{% endblock %}
