{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

        <div class="section white center">
        <div class="row">
            <div class="s10 offset-s1 col">
                <div class="m12 col">
                    <div class="card">
                        <div class="card-content row">
                        <div class="s12 l3 col">
                            <img src="{% static 'images/perfil.jpg' %}" class="align-right circle">
                        </div>
                        <div class="col s2 center-align">
                            <h4>{{usuario}}</h4>
                            </div>
                        <div class="col s2 center-align">
                            <label>Publicaciones</label> (nose) <br>
                            </div>
                        <div class="col s2 center-align">
                            <label>Seguidores</label> {{seguidores}} <br>
                            </div>
                        <div class="col s2 center-align">
                            <label>Seguidos</label> {{siguiendo}} <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

<div id="containLib" class="container center" style="width:100%">{% include 'post.html' %}</div>

{% endblock %}
