{% load staticfiles %}
{% for post in posts %}
<div class='section white center'>
    <div class='container' style='background: #f5f5f5;'>
        <div class='container' style='background:#f5f5f5; width:100%'>
            <ul class='collection'>
                <li class='collection-item avatar'>
                    <img src="{% static 'images/perfil.jpg' %}" alt='' class='circle'>
                    <a class='material-icons' style="margin-right:95%" href="{% url 'pikquick:user_profile' post.usuario %}">{{post.usuario}}</a>
                    <a class='secondary-content'>
                        <i class='material-icons'>{{post.fecha|timesince}}</i>
                    </a>

                    {% if user.is_staff %}
                    <a href=""><i class="fa fa-trash-o" style="margin-right:1%"></i>Eliminar</a>
                    {% endif %}

                </li>
            </ul>
            <div class='row'>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class='activator' src='{{ MEDIA_URL }}{{post.img1}}' style='width:400px; height:450px; margin-top:4%;'>
                        </div>
                        <div class="card-content">
                            <p>{{post.desc1}}</p>
                        </div>
                        <div class="card-action">



       <a href="javascript:clickLink1({{post.id}});">---<i class="fa fa-heart fa-3x"></i>---</a>
        <p>Likes <span id="clicks-1{{post.id}}">0</span></p>








                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class='activator' src='{{ MEDIA_URL }}{{post.img2}}' style='width:400px; height:450px; margin-top:4%;'>
                        </div>
                        <div class="card-content">
                            <p>{{post.desc2}}</p>
                        </div>
                        <div class="card-action">








                                <a href="javascript:clickLink({{post.id}});">---<i class="fa fa-heart fa-3x"></i>---</a>
        <p>Likes <span id="clicks-{{post.id}}">0</span></p>





                          </div>
                    </div>
                </div>
                <h3>{{post.descPub}}
            </div>
        </div>
    </div>

    <div id="mensajes_{{post.id}}">
        {% include "mensajes.html" %}
    </div>
<div  style="width:70%;margin-left:15%; " >

              <div class="input-field col s12" >
            <input name="username" id="message_{{post.id}}" type="text">
              <label id="message_{{post.id}}" class="center-align"><i class="fa fa-comment-o"></i>Agrega un comentario...</label>
          </div>

    <button class="btn waves-effect waves-light" type="button" id="btn_ver_{{post.id}}" name="enviar" value="+"> Ver Comentarios <i class="fa fa-eye"></i></button>

    <button class="btn waves-effect waves-light" id="btn_enviar_{{post.id}}" name="enviar"> Enviar <i class="fa fa-paper-plane"></i>
    </button>

</div>

</div>


        <script>

        function clickLink1(idPost) {
            var a = "#clicks-1" + idPost
            console.log($().html());
            if ($(a).html()=='1'){
                $(a).html('0');
            }
            else
            {
                $(a).html('1');
            }

            /*i++;
            if (i == 1) {
                document.getElementById("clicks").innerHTML = i;
            }
            else
            {
                document.getElementById("clicks").innerHTML = i;
                i=0

            }*/
        }

        </script>





        <script>

        function clickLink(idPost) {
            var a = "#clicks-" + idPost
            console.log($().html());
            if ($(a).html()=='1'){
                $(a).html('0');
            }
            else
            {
                $(a).html('1');
            }

            /*i++;
            if (i == 1) {
                document.getElementById("clicks").innerHTML = i;
            }
            else
            {
                document.getElementById("clicks").innerHTML = i;
                i=0

            }*/
        }
        function Reset() {
            i = 0;
            document.getElementById("clicks").innerHTML = i;
        }
        </script>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>

    $("#btn_enviar_{{post.id}}").click(function(){
        console.log("VAMO");
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:'{{post.id}}',
            coment_txt:$('#message_{{post.id}}').val(),
        }
        $.ajax({
            type: "POST",
            url: "{% url 'pikquick:save_message' %}",
            data: data,
            success: function(result){
                $("#mensajes_{{post.id}}").html(result);
                $("#message_{{post.id}}").val("");
            },
            error: function(err){
                console.log("ERRRORRRR");
                console.log(err.responseText);
            },
        });

    });


    $("#btn_ver_{{post.id}}").click(function(){

        var boton = document.getElementById("btn_ver_{{post.id}}")
        if (boton.value=="-"){
            document.getElementById('mensajes_{{post.id}}').style.display = 'none';
            boton.setAttribute('value', '+');
            console.log("mostrar");
        }
        else{
            console.log("mostrar");
            var data={
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id:'{{post.id}}',

            }
            $.ajax({
                type: "POST",
                url: "{% url 'pikquick:ver_message' %}",
                data: data,
                success: function(result){
                    $("#mensajes_{{post.id}}").html(result);
                    $("#message_{{post.id}}").val("");
                },
                error: function(err){
                    console.log("ERRRORRRR");
                    console.log(err.responseText);
                },
            });
            boton.setAttribute('value', '-');

            document.getElementById('mensajes_{{post.id}}').style.display = 'block';
        };
        });




</script>

{% empty %}
<p id="legal">
    <h5 class="white-text"> No hay publicaciones en este momento</h5>
</p>

{% endfor %}

{% block scripts %}
<script>

    function resizeTextAreasOnFocus() {

        function resizeTextArea($textarea){

            var hiddenDiv = $('.hiddendiv').first();
            if (!hiddenDiv.length) {
                hiddenDiv = $('<div class="hiddendiv common"></div>');
                $('body').append(hiddenDiv);
            }

            var fontFamily = $textarea.css('font-family');
            var fontSize = $textarea.css('font-size');

            if (fontSize) { hiddenDiv.css('font-size', fontSize); }
            if (fontFamily) { hiddenDiv.css('font-family', fontFamily); }

            if ($textarea.attr('wrap') === "off") {
                hiddenDiv.css('overflow-wrap', "normal")
                    .css('white-space', "pre");
            }

            hiddenDiv.text($textarea.val() + '\n');
            var content = hiddenDiv.html().replace(/\n/g, '<br>');
            hiddenDiv.html(content);


            // When textarea is hidden, width goes crazy.
            // Approximate with half of window size

            if ($textarea.is(':visible')) {
                hiddenDiv.css('width', $textarea.width());
            }
            else {
                hiddenDiv.css('width', $(window).width()/2);
            }

            $textarea.css('height', hiddenDiv.height());
        }

        $('body').on('focus', '.materialize-textarea', function () {
            resizeTextArea($(this));
        })
    }

</script>
{% endblock %}


