{% load staticfiles %}

{% for post in posts %}
<div class='section white center'>
    <div class='container' style='background: #f5f5f5;'>
        <div class='container' style='background:#f5f5f5; width:100%'>
            <ul class='collection'>
                <li class='collection-item avatar'>
                    <img src="{% static 'images/perfil.jpg' %}" alt='' class='circle'>

                    <a class='material-icons' style="margin-right:95%" href="{% url 'pikquick:perfil' post.usuario %}">{{post.usuario}}</a>

                    <a class='secondary-content'><i class='material-icons'>{{post.fecha|timesince}}</i></a>
                    {% if not post.usuario == user.username %}
                    {% if post.usuario in lista_followers %}
                    <a href="{% url 'pikquick:unFollow' post.usuario %}"><i class="fa fa-user-times" style="margin-right:1%"></i>Dejar de Seguir</a>
                    {% else %}
                    <a href="{% url 'pikquick:follow' post.usuario %}"><i class="fa fa-user-plus" style="margin-right:1%"></i>Seguir</a>
                    {% endif %}
                    {% endif %}

                    {% if user.is_staff or post.usuario == user.username %}
                    <a href="{% url 'pikquick:deletePost' %}" id="btn_delete_{{post.id}}"><i class="fa fa-trash-o" style="margin-right:1%"></i>Eliminar</a>
                    {% endif %}

                </li>
            </ul>
            <div class='row'>
                {% for img in imagenes %}
                {% if img.entrada == post %}
                {% include "imagenes.html" %}
                {% endif %}
                {% endfor %}
            </div>
            <h4 style="color:#616161;">{{post.descPub}}</h4>
        </div>

    </div>

    <div style="width:70%;margin-left:15%;">
        <div id="mensajes_{{post.id}}">
            {% include "mensajes.html" %}
        </div>
        <div class="input-field col s12">
            <input name="username" id="message_{{post.id}}" type="text"></input>
            <label id="message_{{post.id}}" class="center-align"><i class="fa fa-comment-o"></i>Agrega un comentario...</label>
        </div>
        <input type="button" id="btn_ver_{{post.id}}" style="background-color:transparent; border: none;margin: 0; padding: 0;" name="enviar" value="VER COMENTARIOS"></input>
    <i class="fa fa-eye"></i>
    <button class="btn waves-effect waves-light" id="btn_enviar_{{post.id}}" name="enviar"> Enviar <i class="fa fa-paper-plane"></i></button>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script>
    function clickLink(idPost, value) {
        var uno = "#clicks-1" + idPost
        var dos = "#clicks-2" + idPost
        if (value==1){
            if ($(uno).html()=='1'){
                $(uno).html('0');
            }
            else
            {
                $(uno).html('1');
                $(dos).html('0');
            }
        }else{
            if ($(dos).html()=='1'){
                $(dos).html('0');
            }
            else
            {
                $(dos).html('1');
                $(uno).html('0');
            }
        }
    }


    function Reset() {
        i = 0;
        document.getElementById("clicks").innerHTML = i;
    }

    $("#btn_enviar_{{post.id}}").click(function(){
        console.log("VAMO");
        document.getElementById('mensajes_{{post.id}}').style.display = 'block';
        var boton = document.getElementById("btn_ver_{{post.id}}")
        boton.setAttribute('value', 'ESCONDER COMENTARIOS');
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:'{{post.id}}',
            coment_txt:$('#message_{{post.id}}').val(),
        }
        $.ajax({
            type: "POST",
            url: "{% url 'pikquick:save_message' %}",
            data: data,
            success: function(result){
                $("#mensajes_{{post.id}}").html(result);
                $("#message_{{post.id}}").val("");
            },
            error: function(err){
                console.log("ERRRORRRR");
                console.log(err.responseText);
            },
        });
    });

    $("#btn_ver_{{post.id}}").click(function(){

        var boton = document.getElementById("btn_ver_{{post.id}}")
        if (boton.value=="ESCONDER COMENTARIOS"){
            document.getElementById('mensajes_{{post.id}}').style.display = 'none';
            boton.setAttribute('value', 'VER COMENTARIOS');
            console.log("mostrar");
        }
        else{
            console.log("mostrar");
            var data={
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id:'{{post.id}}',

            }
            $.ajax({
                type: "POST",
                url: "{% url 'pikquick:ver_message' %}",
                data: data,
                success: function(result){
                    $("#mensajes_{{post.id}}").html(result);
                    $("#message_{{post.id}}").val("");
                },
                error: function(err){
                    console.log("ERRRORRRR");
                    console.log(err.responseText);
                },
            });
            boton.setAttribute('value', 'ESCONDER COMENTARIOS');

            document.getElementById('mensajes_{{post.id}}').style.display = 'block';
        };
    });

    $("#btn_delete_{{post.id}}").click(function(){
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:'{{post.id}}',
        }
        $.ajax({
            type: "POST",
            url: "{% url 'pikquick:deletePost' %}",
            data: data,
        });
    });
</script>

{% block scripts %}
{% endblock %}

{% empty %}
<p id="legal"><h5 class="black-text"> No hay publicaciones en este momento</h5></p>
{% endfor %}
