{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<title>Perfil</title>
{% for post in posts %}
<div class="section">
    <div class="container">
        <div class="row" style="">
            <div class="col s12 m4 l4">
                <div class="col s12 m6">
                    <div>
                        <div class="card-image">
                            <img class='activator' src='{{ MEDIA_URL }}{{post.img1}}' style='width:140px; height:170px; margin-top:4%;'>
                        </div>
                        <div class="card-action">
                            <a href="#">Stars</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div>
                        <div class="card-image">
                            <img class='activator' src='{{ MEDIA_URL }}{{post.img2}}' style='width:140px; height:170px; margin-top:4%;'>
                        </div>
                        <div class="card-action">
                            <a href="#">Stars</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <!--<div class='container col s10 m6' style='background:#f5f5f5; width:30%'>
            <ul class='collection'>
                <li class='collection-item avatar'>
                    <i class='material-icons'>{{post.fecha}}</i>
                    {% if user.is_staff %}
                    <a href=""><i class="fa fa-trash-o" style="margin-right:1%"></i></a>
                    {% endif %}
                </li>
            </ul>
            <div class='row'>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class='activator' src='{{ MEDIA_URL }}{{post.img1}}' style='width:100px; height:120px; margin-top:4%;'>
                        </div>
                        <div class="card-action">
                            <a href="#">Stars</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class='activator' src='{{ MEDIA_URL }}{{post.img2}}' style='width:100px; height:120px; margin-top:4%;'>
                        </div>
                        <div class="card-action">
                            <a href="#">Stars</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    {% csrf_token %}
    <input type="button" id="btn_ver_{{post.id}}" value="+"></button>
    {% csrf_token %}
    <div id="mensajes_{{post.id}}">
        {% include "mensajes.html" %}
    </div>


    <textarea class="materialize-textarea" sytle=" padding:-200px;" id="message_{{post.id}}" required data-validation-required-message="Please enter a message."></textarea>

    <button class="btn waves-effect waves-light" id="btn_enviar_{{post.id}}" name="enviar"> Comment <i class="fa fa-paper-plane"></i>
 </button>-->

{% endfor %}
{% endblock %}
