{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It&#39;s modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
<title>Inicio de Sesión</title>


  <!-- Favicons-->
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->

  <link href="{% static 'css/materialize1.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{% static 'css/stylelogin.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/custom-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{% static 'css/style-fullscreen.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{% static 'css/page-center.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

  <link href="{% static 'css/prism.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{% static 'css/perfect-scrollbar.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="cyan loaded">
  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>


  <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
           <img src= "{% static 'images/login-logo.png' %}" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Register PikQuick</p>
          </div>
        </div>
        <div class="row margin">

          <div class="input-field col s12" >
            <input maxlength="30" name="username" id="id_username" type="text" value="">
              <label for="username" class="center-align"><i class="fa fa-user fa-2x"></i>   Username
</label>
          </div>
              <div class="input-field col s12" >
            <input name="email" id="id_email" type="text">
              <label for="username" class="center-align"><i class="fa fa-envelope-o fa-2x"></i>   Email
</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <input name="password1" id="id_password1" type="password">
            <label for="password" class=""><i class="fa fa-unlock-alt fa-2x"></i>     Password</label>
          </div>
        </div>
            <div class="row margin">
          <div class="input-field col s12">
            <input id="id_password2" name="password2" type="password">
            <label for="password" class=""><i class="fa fa-unlock-alt fa-2x"></i>   Confirm  Password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <a class="btn waves-effect waves-light col s12" id="register">Register</a>
          </div>
        </div>

          <div class="input-field col">
              <p class="margin left-align center-small"><a href="{% url 'pikquick:ingreso_usuario' %}">Ya tiene una cuenta ?</a></p>
          </div>

        </div>

      </form>
    </div>
  </div>


    {% endblock %}
{% block scripts %}


  <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/materialize1.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>



<script>
    $('input:password[name=password2]').focusout(function(){
        if($('input:password[name=password2]').val()!=""){
            console.log("no"+$('input:password[name=password2]').val());
            if($('input:password[name=password1]').val()!=$('input:password[name=password2]').val()){
                if ($('input:password[name=password2]').hasClass('valid')) {
                    $('input:password[name=password2]').removeClass('valid');
                }
                $('input:password[name=password2]').addClass('invalid');
            }else{
                if ($('input:password[name=password2]').hasClass('invalid')) {
                    $('input:password[name=password2]').removeClass('invalid');
                }
                $('input:password[name=password2]').addClass('valid');
            }
        }else{
            if ($('input:password[name=password2]').hasClass('valid')) {
                $('input:password[name=password2]').removeClass('valid');
            }
            if ($('input:password[name=password2]').hasClass('invalid')) {
                $('input:password[name=password2]').removeClass('invalid');
            }
        }
    });
    $('input:text[name=username]').focusout(function(){
        console.log("no"+$('input:text[name=username]').val());
        if($('input:text[name=username]').val()!=""){
            if(/^[a-zA-Z0-9-_.]*$/.test($('input:text[name=username]').val())!= true){
                if ($('input:text[name=username]').hasClass('valid')) {
                    $('input:text[name=username]').removeClass('valid');
                }
                $('input:text[name=username]').addClass('invalid');
            }else{
                if ($('input:text[name=username]').hasClass('invalid')) {
                    $('input:text[name=username]').removeClass('invalid');
                }
                $('input:text[name=username]').addClass('valid');
            }
        }else{
            if ($('input:text[name=username]').hasClass('valid')) {
                $('input:text[name=username]').removeClass('valid');
            }
            if ($('input:text[name=username]').hasClass('invalid')) {
                $('input:text[name=username]').removeClass('invalid');
            }
        }
    });

    $('input:text[name=email]').focusout(function(){
        console.log("no"+$('input:text[name=email]').val());
        if($('input:text[name=email]').val()!=""){
            if($('input:text[name=email]').val().indexOf("@")>=0){
                if ($('input:text[name=email]').hasClass('invalid')) {
                    $('input:text[name=email]').removeClass('invalid');
                }
                $('input:text[name=email]').addClass('valid');
            }else{
                if ($('input:text[name=email]').hasClass('valid')) {
                    $('input:text[name=email]').removeClass('valid');
                }
                $('input:text[name=email]').addClass('invalid');
            }
        }else{
            if ($('input:text[name=email]').hasClass('valid')) {
                $('input:text[name=email]').removeClass('valid');
            }
            if ($('input:text[name=email]').hasClass('invalid')) {
                $('input:text[name=email]').removeClass('invalid');
            }
        }
    });

    $('#register').click(function() {
        if($('input:password[name=password1]').hasClass('invalid') || $('input:password[name=password2]').hasClass('invalid') || $('input:text[name=email]').hasClass('invalid') || $('input:password[name=password1]').val()=="" || $('input:password[name=password2]').val()=="" || $('input:text[name=email]').val()==""){
            Materialize.toast('Verifique los campos', 2000)
        }else{


            var data={
                csrfmiddlewaretoken: '{{ csrf_token }}',
                username:$('input:text[name=username]').val(),
                password:$('input:password[name=password1]').val(),
                email:$('input:text[name=email]').val(),
            }
            var a=[$('input:text[name=username]'),
                   $('input:password[name=password1]'),
                   $('input:text[name=email]'),
                   $('input:password[name=password2]')];
            for (i = 0; i < 4; i++) {
                a[i].val("");
                if (a[i].hasClass('valid')) {
                    a[i].removeClass('valid');
                }
                if (a[i].hasClass('invalid')) {
                    a[i].removeClass('invalid');
                }
            }

            $.ajax({
                type: "POST",
                url: "{% url 'pikquick:nuevo_usuario' %}",
                data: data,
                statusCode: {
                    200: function(){
                        $("#res").html(result);
                        Materialize.toast('Registrado con éxito', 2000);
                        //window.location.assign("{% url 'pikquick:inicio' %}");
                    },

                    203: function(){
                        Materialize.toast('Usuario ya existente', 2000);
                    },
                },
            });
        }
    });
</script>
{% endblock %}
</body></html>
