{% load staticfiles %}
{% for post in posts %}
<div class='section white center'>
    <div class='container' style='background: #f5f5f5;'>
        <div class='container' style='background:#f5f5f5; width:100%'>
            <ul class='collection'>
                <li class='collection-item avatar'>
                    <img src="{% static 'images/perfil.jpg' %}" alt='' class='circle'>
                    <i class='material-icons' style="margin-right:95%">{{post.usuario}}</i>
                    <a class='secondary-content'>
                        <i class='material-icons'>{{post.fecha}}</i>
                    </a>

                    {% if user.is_staff %}
                    <a href=""><i class="fa fa-trash-o" style="margin-right:1%"></i>Eliminar</a>
                    {% endif %}

                </li>
            </ul>
            <div class='row'>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class='activator' src='{{ MEDIA_URL }}{{post.img1}}' style='width:400px; height:450px; margin-top:4%;'>
                        </div>
                        <div class="card-content">
                            <p>{{post.desc1}}</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Stars</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class='activator' src='{{ MEDIA_URL }}{{post.img2}}' style='width:400px; height:450px; margin-top:4%;'>
                        </div>
                        <div class="card-content">
                            <p>{{post.desc2}}</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Stars</a>
                        </div>
                    </div>
                </div>
                {{post.descPub}}
            </div>
        </div>
    </div>
    {% csrf_token %}
    Comentarios
    <div id="mensajes_{{post.id}}">
        {% include "mensajes.html" %}
    </div>
    <h3>Mensaje:</h3>
    <textarea name="mensaje" rows="6" cols="60" style="color:black" id="message_{{post.id}}" required data-validation-required-message="Please enter a message."></textarea>
    <button id="btn_enviar_{{post.id}}" name="enviar"> Comment </button>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>

    $("#btn_enviar_{{post.id}}").click(function(){
        console.log("VAMO");
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:'{{post.id}}',
            coment_txt:$('#message_{{post.id}}').val(),
        }
        $.ajax({
            type: "POST",
            url: "{% url 'pikquick:save_message' %}",
            data: data,
            success: function(result){
                $("#mensajes_{{post.id}}").html(result);
                $("#message_{{post.id}}").val("");
            },
            error: function(err){
                console.log("ERRRORRRR");
                console.log(err.responseText);
            },
        });
    });
</script>

{% endfor %}
